<div class="modal-header">
      <h4 class="modal-title text-center color1">Trello Authorization</h4>
</div>
<div class="modal-body">
    <form role="form">
      <div class="form-group">
          <label for="tokenIta">Token Italia</label>
          <input class="form-control" id="tokenIta" ng-model="tokenIta" placeholder="Highrise token per Galimberti Italia" type="text">
		  </div>

      <div class="form-group">
          <label for="tokenSwi">Token Svizzera</label>
          <input class="form-control" id="tokenSwi" ng-model="tokenSwi" placeholder="Highrise token per Galimberti Svizzera" type="text">
      </div>

    </form>
</div>


</div>
    <div class="modal-footer">
      <button type="button" ng-click="saveHighriseTokens()" class="btn-block btn btn-primary">Save</button>
    </div>
</div>
