html {
    background: rgba(0, 0, 0, 0.7);
}




.navbar-text {
    margin-left: 15px;
}

.abcRioButtonContentWrapper {
    background: rgba(0, 0, 0, 0.7);
    color: #F0AD4E;
}

.navbar {
    max-height: 80px;
    padding: 4px 8px 2px 8px !important;
}

.navbar-brand {
    font-size: 14px;
}

.navbar-nav li > a,
.navbar-header > a
{
    max-height: 50px;
    font-size: 12px;
    font-weight: bold;
}

.p-y {
    padding: 0px !important;
}


.m-y {
    margin-bottom: 2px;
}

.btn-warning-outline {
    font-size: 14px !important;
}